@(message: String)

<!-- TODO UTF8 AND XML SETTINGS OF PAGE -->

<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
        <head>
            <meta charset="utf-8"/>
            <meta name="viewport" content="width=device-width, initial-scale=1.0" />
            <title>Business Informatics Group Jeopardy! - Login</title>
            <!-- REVERSE ROUTING -->
            <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
            <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
        </head>

        <body id="login-page">
            <a class="accessibility" href="#login">Zum Login springen</a>
            <a class="accessibility" title="Klicke hier um dich zu registrieren" href="register" accesskey="r">Registrieren</a>
                <!-- Header -->
            <header role="banner" aria-labelledby="bannerheading">
                <h1 id="bannerheading">
                    <span class="accessibility">Business Informatics Group </span><span class="gametitle">@message</span>
                </h1>
            </header>

                <!-- Content -->
            <div role="main">
                <section id="login" aria-labelledby="loginheading">
                    <h2 id="loginheading" class="accessibility">Login</h2>
                    <form action="jeopardy.xhtml" method="post">
                        <fieldset>
                            <legend id="logindata">Login</legend>
                            <label for="username">Benutzername:</label>
                            <input name="username" id="username" type="text" required="required"/>
                            <label for="password">Passwort:</label>
                            <input name="password" id="password" type="password" required="required"/>
                            <input name="login" id="loginsubmit" class="greenlink formlink clickable" type="submit" value="Anmelden"/>
                        </fieldset>
                    </form>
                </section>
                    <!-- Register section -->
                <section id="registerforward" aria-labelledby="registerheading">
                    <h2 id="registerheading" class="accessibility">Registrierung</h2>
                    <p id="registerhint">Nicht registriert?</p>
                    <a class="contentlink orangelink" title="Klicke hier um dich zu registrieren" href="register" accesskey="r">Zur Registrierung</a>
                </section>
            </div>

                <!-- footer -->
            <footer role="contentinfo">© 2015 BIG Jeopardy</footer>
        </body>
    </html>

