@(game: at.ac.tuwien.big.we15.lab2.api.JeopardyGame)

<!-- man kann hier einstellen wie die Waehrung aussieht, aber wahrscheinlich brauchen wir nicht unbedingt inkonsistenz zwischen game und auf der webseite -->
@questionValue(i: Int) = {
    @if(i==10){10}
    @if(i==20){20}
    @if(i==30){30}
    @if(i==40){40}
    @if(i==50){50}
}

@deactivate(question: at.ac.tuwien.big.we15.lab2.api.Question) = {

    @for(q <- question.getCategory().getQuestions().filter(_.getValue() == question.getValue())) {
        @if(game.hasBeenChosen(q)) {
            disabled="disabled"
        }
    }
}

@if(game != null){

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - Fragenauswahl</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="selection-page">
        <a class="accessibility" href="#question-selection">Zur Fragenauswahl springen</a>
            <!-- Header -->
        <header role="banner" aria-labelledby="bannerheading">
            <h1 id="bannerheading">
                <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
            </h1>
        </header>

            <!-- Navigation -->
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a class="orangelink navigationlink" id="logoutlink" title="Klicke hier um dich abzumelden" href="/logout" accesskey="l">Abmelden</a></li>
            </ul>
        </nav>
            <!-- Content -->
        <div role="main">
                <!-- info -->
            <section id="gameinfo" aria-labelledby="gameinfoinfoheading">
                <h2 id="gameinfoinfoheading" class="accessibility">Spielinformationen</h2>
                <section id="firstplayer" class="playerinfo leader" aria-labelledby="firstplayerheading">
                    <h3 id="firstplayerheading" class="accessibility">Führender Spieler</h3>
                    <img class="avatar" src="@routes.Assets.at("images/avatar/")@game.getLeader().getUser().getAvatar().getImageHead()" alt="Spieler-Avatar @game.getLeader().getUser().getName()" />
                    <table>
                        <tr>
                            <th class="accessibility">Spielername</th>
                            @if(game.getHumanPlayer() == game.getLeader()) {
                                <td class="playername">@game.getLeader().getUser().getName() (Du)</td>
                            }else {
                                <td class="playername">@game.getLeader().getUser().getName()</td>
                            }
                        </tr>
                        <tr>
                            <th class="accessibility">Spielerpunkte</th>
                            <td class="playerpoints">@game.getLeader().getProfit() €</td>
                        </tr>
                    </table>
                </section>
                <section id="secondplayer" class="playerinfo" aria-labelledby="secondplayerheading">
                    <h3 id="secondplayerheading" class="accessibility">Zweiter Spieler</h3>
                    <img class="avatar" src="@routes.Assets.at("images/avatar/")@game.getSecond().getUser().getAvatar().getImageHead()" alt="Spieler-Avatar @game.getSecond().getUser().getName()" />
                    <table>
                        <tr>
                            <th class="accessibility">Spielername</th>
                            @if(game.getHumanPlayer() == game.getSecond()) {
                                <td class="playername">@game.getSecond().getUser().getName() (Du)</td>
                            }else {
                                <td class="playername">@game.getSecond().getUser().getName()</td>
                            }

                        </tr>
                        <tr>
                            <th class="accessibility">Spielerpunkte</th>
                            <td class="playerpoints">@game.getSecond().getProfit() €</td>
                        </tr>
                    </table>
                </section>

                <p id="round">Fragen: @{val runde = game.getHumanPlayer().getAnsweredQuestions.size(); runde} / @game.getMaxQuestions()</p>
            </section>

                <!-- Question -->

            <section id="question-selection" aria-labelledby="questionheading">
                @if(game.isRoundStart() && game.getLeader.getAnsweredQuestions.size()!=0){

                    <h2 id="questionheading" class="black accessibility">Jeopardy</h2>
                    @if(game.getHumanPlayer.getLatestProfitChange > 0) {
                        <p class="user-info positive-change">
                            Du hast richtig geantwortet: @game.getHumanPlayer.getAnsweredQuestions.get(game.getHumanPlayer.getAnsweredQuestions.size()-1).getValue €</p>
                    }else{
                        <p class="user-info negative-change">Du hast falsch geantwortet: - @game.getHumanPlayer.getAnsweredQuestions.get(game.getHumanPlayer.getAnsweredQuestions.size()-1).getValue €</p>
                    }
                    @if(game.getMarvinPlayer.getLatestProfitChange > 0){
                        <p class="user-info positive-change">@game.getMarvin().getName() hat richtig geantwortet: @game.getMarvinPlayer().getAnsweredQuestions.get(game.getMarvinPlayer.getAnsweredQuestions.size()-1).getValue €</p>

                    }else{
                        <p class="user-info negative-change">@game.getMarvin().getName() hat falsch geantwortet: -@game.getMarvinPlayer().getAnsweredQuestions.get(game.getMarvinPlayer.getAnsweredQuestions.size()-1).getValue €</p>
                    }
                    <p class="user-info">@game.getMarvin().getName() hat @game.getMarvinPlayer().getAnsweredQuestions.get(game.getMarvinPlayer.getAnsweredQuestions.size()-1).getCategory().getName() für € @game.getMarvinPlayer().getAnsweredQuestions.get(game.getMarvinPlayer.getAnsweredQuestions.size()-1).getValue() gewählt.</p>

                }

                    @helper.form(action=routes.Jeopardy.chooseQuestionCategory()) {
                        <fieldset>
                            <legend class="accessibility">Fragenauswahl</legend>


                            @for((category,x) <- game.getCategories().zipWithIndex){
                                <section class="questioncategory" aria-labelledby="@category.getName()_heading">
                                <h3 id="heading@(x+1)" class="tile category-title" style="height: 3em">
                                    <span class="accessibility">Kategorie: </span>@category.getName()
                                </h3>

                                @if(category.getQuestions() != null){

                                    <ol class="category_questions">

                                    <!-- RANDOMLY CHOOSE ONE OF THE QUESTIONS IF THERE IS MORE THAN ONE QUESTION PER VALUE-->
                                    @if(scala.util.Random.nextInt(2) == 0){
                                        @for((question) <- category.getQuestions().groupBy(_.getValue()).map(_._2.head).toList sortBy(_.getValue())){
                                            <li><input name="question_selection" id="question_@question.getId()" value="@question.getId()" type="radio" @deactivate(question) />
                                                <label class="tile clickable" for="question_@question.getId()" onclick="activate()"  >€ @questionValue(question.getValue())</label>
                                            </li>
                                        }
                                    }else{
                                        @for((question) <- category.getQuestions().groupBy(_.getValue()).map(_._2.last).toList sortBy(_.getValue())){
                                            <li><input name="question_selection" id="question_@question.getId()" value="@question.getId()" type="radio" @deactivate(question) />
                                                <label class="tile clickable" for="question_@question.getId()" onclick="activate()" >€ @questionValue(question.getValue())</label>
                                            </li>
                                        }
                                    }

                                    </ol>
                                }
                                </section>
                            }
                        </fieldset>

                        <input class="greenlink formlink clickable" name="question_submit" id="next" type="submit" value="wählen" accesskey="s" disabled="disabled" />
                    }
            </section>

            <section id="lastgame" aria-labelledby="lastgameheading">
                <h2 id="lastgameheading" class="accessibility">Letztes Spielinfo</h2>
                <p>Letztes Spiel: Nie</p>
            </section>
        </div>

            <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy!</footer>

        <script type="text/javascript">
        //<![CDATA[

        // initialize time
        $(document).ready(function() {
        // set last game
        if(supportsLocalStorage()) {
        var lastGameMillis = parseInt(localStorage['lastGame'])
        if(!isNaN(parseInt(localStorage['lastGame']))){
        var lastGame = new Date(lastGameMillis);
        $("#lastgame p").replaceWith('<p>Letztes Spiel: <time datetime="'
        + lastGame.toUTCString()
        + '">'
        + lastGame.toLocaleString()
        + '</time></p>')
        }
        }
        });

        function activate(){
            document.getElementById('next').disabled=false;
        }

        //]]>
        </script>
    </body>
</html>
}