@(errormsg: String)

@import play.i18n.Messages

<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="@Messages.get("lang")" lang="@Messages.get("lang")">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@Messages.get("title") - @Messages.get("register")</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
    </head>
    <body id="register-page">
        <a title="@Messages.get("jumpToRegister")" class="accessibility" href="/register">@Messages.get("jumpToRegister")</a>

            <!-- Header -->
        <header role="banner" aria-labelledby="bannerheading">
            <h1 id="bannerheading">
                <span class="accessibility">@Messages.get("title") </span><span class="gametitle">Jeopardy!</span>
            </h1>
        </header>

            <!-- Navigation -->
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">@Messages.get("navigation")</h2>
            <ul>
                <li><a class="orangelink navigationlink" id="loginlink" title="@Messages.get("clickToLogin")" href="/login" accesskey="l">@Messages.get("login")</a></li>
            </ul>
        </nav>

            <!-- Content -->
        <div id="register" role="main">
                <!-- Register section -->
            <h2 id="registerheading" class="accessibility">@Messages.get("registration")</h2>

            @helper.form(action=routes.Registration.registerUser){
                <fieldset>
                    <legend>@Messages.get("personalData")</legend>
                    <label for="firstname">@Messages.get("firstname"):</label>
                    <input id="firstname" type="text" name="firstname"/>

                    <label for="lastname">@Messages.get("lastname"):</label>
                    <input id="lastname" type="text" name="lastname"/>

                    <label for="birthdate">@Messages.get("birthdate"):</label>
                    <input id="birthdate" type="date" name="birthdate"/>
                    <div id="error_msg_birthdate" class="hide" role="alert">@Messages.get("birthError")</div>

                    <label>@Messages.get("gender"):</label>
                    <fieldset class="inputset">
                        <input type="radio" name="gender" id="male" value="m" checked="checked" />
                        <label for="male">@Messages.get("male")</label>
                        <input type="radio" name="gender" id="female" value="f" />
                        <label for="female">@Messages.get("female")</label>
                    </fieldset>


                </fieldset>
                <fieldset>
                    <legend>@Messages.get("playerData")</legend>
                    <label for="avatar">Avatar:</label>
                    <select id="avatar" name="avatar">
                        <option value="aldrich-killian">Aldrich Killian</option>
                        <option value="beetle">Beetle</option>
                        <option value="black-widow">Black Widow</option>
                        <option value="captain-america">Captain America</option>
                        <option value="cyclops">Cyclops</option>
                        <option value="deadpool">Deadpool</option>
                        <option value="doctor-doom">Doctor Doom</option>
                        <option value="doctor-octopus">Doctor Octopus</option>
                        <option value="drax">Drax</option>
                        <option value="electro">Electro</option>
                        <option value="extremis-soldier">Extremis Soldier</option>
                        <option value="falcon">Falcon</option>
                        <option value="gamora">Gamora</option>
                        <option value="green-goblin">Green Goblin</option>
                        <option value="groot">Groot</option>
                        <option value="hawkeye">Hawkeye</option>
                        <option value="hulk">Hulk</option>
                        <option value="hydra-henchman">Hydra Henchman</option>
                        <option value="iron-fist">Iron Fist</option>
                        <option value="iron-man">Iron Man</option>
                        <option value="j-jonah-jameson">J. Jonah Jameson</option>
                        <option value="loki">Loki</option>
                        <option value="magneto">Magneto</option>
                        <option value="mary-jane-watson">Mary Jane Watson</option>
                        <option value="modok">MODOK</option>
                        <option value="nebula">Nebula</option>
                        <option value="nick-fury">Nick Fury</option>
                        <option value="nova">Nova</option>
                        <option value="pepper-potts">Pepper Potts</option>
                        <option value="power-man">Power Man</option>
                        <option value="red-skull">Red Skull</option>
                        <option value="rocket">Rocket Raccoon</option>
                        <option value="ronan">Ronan</option>
                        <option value="spiderman">Spiderman</option>
                        <option value="starlord">Starlord</option>
                        <option value="taskmaster">Taskmaster</option>
                        <option value="the-mandarin">The Mandarin</option>
                        <option value="thor">Thor</option>
                        <option value="tony-stark">Tony Stark</option>
                        <option value="venom">Venom</option>
                        <option value="war-machine">War Machine</option>
                        <option value="wolverine">Wolverine</option>
                    </select>

                    <label for="username">@Messages.get("username")*:</label>
                    <input id="username" type="text" required="required" pattern="\w{4,8}" name="username"/>
                    <div id="error_msg_username" class="hide" role="alert">@Messages.get("usernameError")</div>

                    <label for="password">@Messages.get("password")*:</label>
                    <input id="password" type="password" required="required" pattern="\w{4,8}" name="password"/>
                    <div id="error_msg_password" class="hide" role="alert">@Messages.get("passwordError")</div>
                    <input class="greenlink formlink" type="submit" value="@Messages.get("register")" accesskey="s"/>


                </fieldset>
                @if(errormsg!=null) {
                    <p class="error" style="color:red">
                    @errormsg
                    </p>
                }

                <p id="requiredhint">@Messages.get("mustFields")</p>

            }
        </div>

            <!-- Footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>

    </body>
</html>
