@(game: at.ac.tuwien.big.we15.lab2.api.JeopardyGame)

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="de" lang="de">
    <head>
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Business Informatics Group Jeopardy! - Gewinnanzeige</title>
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/base.css")" />
        <link rel="stylesheet" type="text/css" href="@routes.Assets.at("stylesheets/screen.css")" />
        <script src="@routes.Assets.at("javascripts/jquery.js")" type="text/javascript"></script>
        <script src="@routes.Assets.at("javascripts/framework.js")" type="text/javascript"></script>
    </head>
    <body id="winner-page">
        <a class="accessibility" href="#winner">Zur Gewinnanzeige springen</a>
            <!-- Header -->
        <header role="banner" aria-labelledby="bannerheading">
            <h1 id="bannerheading">
                <span class="accessibility">Business Informatics Group </span><span class="gametitle">Jeopardy!</span>
            </h1>
        </header>

            <!-- Navigation -->
        <nav role="navigation" aria-labelledby="navheading">
            <h2 id="navheading" class="accessibility">Navigation</h2>
            <ul>
                <li><a class="orangelink navigationlink" id="logoutlink" title="Klicke hier um dich abzumelden" href="login.xhtml" accesskey="l">Abmelden</a></li>
            </ul>
        </nav>

            <!-- Content -->
        <div role="main">
            <section id="gameinfo" aria-labelledby="winnerinfoheading">
                <h2 id="winnerinfoheading" class="accessibility">Gewinnerinformationen</h2>
                <p class="user-info positive-change">Du hast richtig geantwortet: +1000 €</p>
                <p class="user-info negative-change">Deadpool hat falsch geantwortet: -500 €</p>
                <section class="playerinfo leader" aria-labelledby="winnerannouncement">
                    <h3 id="winnerannouncement">Gewinner: Black Widow</h3>
                    <img class="avatar" src="img/avatar/black-widow.png" alt="Spieler-Avatar Black Widow" />
                    <table>
                        <tr>
                            <th class="accessibility">Spielername</th>
                            <td class="playername">Black Widow</td>
                        </tr>
                        <tr>
                            <th class="accessibility">Spielerpunkte</th>
                            <td class="playerpoints">€ 2000</td>
                        </tr>
                    </table>
                </section>
                <section class="playerinfo" aria-labelledby="loserheading">
                    <h3 id="loserheading" class="accessibility">Verlierer: Deadpool</h3>
                    <img class="avatar" src="img/avatar/deadpool_head.png" alt="Spieler-Avatar Deadpool" />
                    <table>
                        <tr>
                            <th class="accessibility">Spielername</th>
                            <td class="playername">Deadpool</td>
                        </tr>
                        <tr>
                            <th class="accessibility">Spielerpunkte</th>
                            <td class="playerpoints">€ 400</td>
                        </tr>
                    </table>
                </section>
            </section>
            <section id="newgame" aria-labelledby="newgameheading">
                <h2 id="newgameheading" class="accessibility">Neues Spiel</h2>
                < @helper.form(action=routes.Jeopardy.nextGame()) {
                    <input class="clickable orangelink contentlink" id="new_game" type="submit" name="restart" value="Neues Spiel" />
                 }
            </section>
        </div>
            <!-- footer -->
        <footer role="contentinfo">© 2015 BIG Jeopardy</footer>
        <script type="text/javascript">
        //<![CDATA[
        $(document).ready(function(){
        if(supportsLocalStorage()){
        localStorage["lastGame"] = new Date().getTime();
        }
        });
        //]]>
        </script>
    </body>
</html>
